/*

body styles
typography
sections
	header
		navigation
	upcoming
	weather
	booking
	footer
media queries

body styles
=========================================================================/*/

body {
	background: url('../img/bg_texture.jpg');
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*
typography
=========================================================================/*/

h1 {
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 2rem;
}

h2 {
	font-size: 1.5rem;
}

/*
sections
=========================================================================/*/

section {
overflow: hidden;
}

.border{
	border: black solid 4px;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 15px;
}

/*
header
=========================================================================/*/

/*
navigation
=========================================================================/*/
.nav-links {
	list-style-type: none;

}

nav li {
	display:inline-block;
	font-size: 1.7rem;
	padding-left: 2rem;
}

/*
upcoming
=========================================================================/*/

.upcoming {
	background: rgba(255, 246, 151, .7);
}

/*
weather
=========================================================================/*/

.weather {
	background: rgba(13, 101, 217, .6);
}
/*
booking
=========================================================================/*/

.booking{
	background: rgba(28, 117, 5, .6);
}

/*
Instafeed
=========================================================================/*/
.instafeed{
	background: rgba(208, 0, 26, .6);
}

}
/*
footer
=========================================================================/*/

/*
media queries
=========================================================================/*/