/*

body styles
typography
sections
	header
		navigation
	upcoming
	weather
	booking
	food
	footer
media queries

body styles
=========================================================================/*/

body {
	background: url('../img/bg_texture.jpg');
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*
typography
=========================================================================/*/

h1 {
	font-size: 2rem;
	text-transform: uppercase;
	color: white;
	line-height: 2rem;
	background: rgba(74, 74, 74, .65);
	margin: 10px 0;
	padding: 10px;
	text-shadow: 2px 2px 4px rgba(0,0,0, .5);
}

h2 {
	font-size: 1.5rem;
	padding:10px;
}

p {
	padding:10px;
}

.nav-links a, .nav-links-small a{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #E72024;
	font-weight: bold;
	 text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
	font-size: 300%;
	

}
a {
	color:white;
}
/*
sections
=========================================================================/*/


.logo img {
	margin: 20px 0;
}

section {
overflow: hidden;
}

.border{
	border: black solid 4px;
	border-radius: 10px;
	margin-bottom: 15px;
	margin-top: 15px;
	box-shadow: 2px 2px 4px rgba(0,0,0, .5);
}

/*
header
=========================================================================/*/

/*
navigation
=========================================================================/*/
header{
	margin-top: 10px;
}

.global {
	margin-top: 30px;
}
.nav-links, .nav-links-small {
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 15px;
	text-align: center;

}
.top-nav {
	color: white;
	margin-top: 10px;
	background: rgba(74, 74, 74, .65);
	height: 100%;
	text-shadow: 2px 2px 4px rgba(0,0,0, .5);
}

.top-nav ul {
	margin: auto 0;
}
.social {
	position: relative;
}
.social li{
	list-style-type: none;
	display: inline-block;
	float: left;
	position:absolute;
	top: -13px;
	color: rgba(255, 246, 151, 1);
	 text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}
.facebook-icon {
	left: -10px;
}

.insta-icon {
	left: 70px;
}

.hours{
	list-style-type: none;
	margin: auto 20px;
	text-align: center;
	padding: 3px 0;
	font-weight: 400;
}

.nav-links li{
	display:inline-block;
	font-size: 105%;
	padding-right: 1rem;
	padding-left: 1rem;

}

.hours li {
	font-size: 1rem;

}

/*
slider
===========================================================*/
.slider-container, .food {
background: rgba(208, 0, 26, .6);

}

.slider-text {
	width:100%;
	bottom: 0;
	position: absolute;
	background:rgba(208, 0, 26, .25);
	color: white;
	text-shadow: 2px 2px 4px rgba(0,0,0, .5);

}

.slider-text h1 {
	font-size: 3rem;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.slider-text p {
	font-size: 30px;
	line-height: 1;
	font-weight: 300;
	width: 70%;
	margin-left: 20px;
}
.slider {
	height: 500px;
	position:relative;
}

.slider img {
	border-radius: 10px 10px 0 0;
	bottom: 0;
}
.within-slider {
width: 20%;
position:absolute;
right:5%;
z-index: 0;
}

/*
upcoming
=========================================================================/*/

.upcoming {
	background: rgba(255, 246, 151, .7);
}
.upcoming ul {
	list-style-type: none;
	line-height: 1.5;
}

.upcoming p{
	font-weight:bold;
}
.upcoming li{
	margin: 10px 0;
}

.eventtitle {
	font-weight: 300;
	font-size: 30px;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.eventdate {

	margin-top: -5px;

}
.description {
	margin-top: 5px;
}


.band-logos img {
	display: block;
	margin:5px;
		-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
 /*	button {

 	background: rgba(255,255,255, 0);
 	border: 2px solid black;
 	text-transform: uppercase;
 	width:300px;
 	margin-left: auto;
 	margin-right: auto;
 	padding-top:20px;
 	padding-bottom: 15px;
 	font-family: helvetica, sans-serif;
 	font-size: 30px;

 }

/*
weather
=========================================================================/*/
@font-face {
    font-family: 'weather';
    src: url(../fonts/artill_clean_icons.otf);
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

.weather, .find-us {
	background: rgba(13, 101, 217, .6);
	padding-bottom: 40px;

}
#weather {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

#weather i {
  color: #000;
  font-family: weather;
  font-size: 90px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  margin-right: 10px;

}

#weather h2 {
  margin: 0;
  color: #000;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
	font-weight: bold;
	display: inline-block;
	margin: -10px 10px 20px 5px;

}
#weather p {
	margin:-10px;
}
/*
#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}
*/

#weather .currently {
 
}
/*
booking
=========================================================================/*/

.booking{
	background: rgba(28, 117, 5, .6);
}


/*
find us
=========================================================================/*/

.button {
	display: block;
	font-weight: 500;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	color: black;
	margin: 10px auto;
	border-radius: 8px;
	border: 3px black solid;
	background: rgba(255,255,255, .3);
}
.smaller {
	width:50%;
}
.contact {
	margin: 0 auto;
}
.contact li{
	list-style-type: none;
	margin: 10px auto;

}
iframe {
	margin:20px auto;
	min-height: 300px;
}

.button:hover {
	color:black;
}
/*
food
=========================================================================/*/

.food img {
	display: block;
	width:80%;
	margin: 20px auto;
}
/*
Instafeed
=========================================================================/*/

.instafeed {
	background: rgba(208, 0, 26, .6);
}
.instagram{
	text-align: center;
	height: 180px;

}

.instagram-placeholder {
	display: inline-block;

}
.instagram-image {
	display: block;
	margin: 5px;
	margin-bottom:15px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: black 3px solid;
	float: left;
}


/*
footer
=========================================================================/*/ 

.foot {
		background-color: rgba(74, 74, 74, .65);
		color: white;
		margin: 20px 0;
		padding: 20px;
		text-align: center;
}

.foot h2{
	color: white;

}
/*
media queries
=========================================================================/*/


@media only screen and (max-width: 970px) and (min-width: 810px) {
	.nav-links li, .nav-links-small li {
		font-size: 80%;
	}
}

@media only screen and (max-width:970px){
	.slider-text h1{
		font-size: 2rem;
	}
	.slider-text p{
		font-size: 20px;
	
	}
	.slider {
		height:400px;
	}
}

@media only screen and (max-width: 810px) {
	body {
		background-attachment: scroll;
	}
	.global {
		clear: both;
		width:100%;
		margin-bottom: 30px;
	}
	.logo {
		width: 100%;
	}
	.nav-links{
		margin-bottom: 0;
		margin-top:.7rem;
	}
	
}
@media only screen and (max-width: 640px) {

	.carousel {
			display: none;
		}
}

/*@media only screen and (min-width: 640px) and (max-width: 780px){
	.nav-links li{
		font-size: 70%;
		padding-right: 10px;
	}
	
}*/

@media (max-width: 640px){
	.nav-links{
		display:none;
	}
	.nav-links-small{
		display:block;
	}
}
@media (min-width: 640px){
	.nav-links{
		display:block;
	}
	.nav-links-small{
		display:none;
	}
}
@media only screen and (max-width: 760px) and (min-width: 640px) {
	#weather h2{
			font-size: 45px;
		}
		#weather i {
			font-size: 68px;
		}
		

}
@media only screen and (max-width: 640px) {
	.nav-links-small li {
		font-size: 90%;
		padding: 5px;
		border: black 4px solid;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-o-border-radius: 8px;
		border-radius: 8px;
		margin: 5px;
		background: rgba(255, 255, 255, .5);
		display: block;
		box-shadow: 2px 2px 4px rgba(0,0,0, .5);
	}

	.band-logos {
		display: none;
	}

	.nav-links-small {
		margin:30px 0 20px 0;
	}
	.logo img {
		margin: 10px;
	}
	.hours li{
		font-size: .9rem;

	}
	.instagram {
		height: 100%;
	}

}
	@media only screen and (max-width: 760px){
.slider {
	height:300px;
}
	
}